/* Error: expected "{".
 *    ,
 * 86 | @media screen (max-width:480px){
 *    |               ^
 *    '
 *   scss/layouts/_manifiesto.scss 86:15  @import
 *   scss/style.scss 5:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 86 \2502  @media screen (max-width:480px){\a    \2502                ^\a    \2575 \a   scss/layouts/_manifiesto.scss 86:15  @import\a   scss/style.scss 5:9                  root stylesheet';
}
