/*--COLORES--*/
$color-negro:#000000;
$color-blanco:#ffffff;
$color-gris:#fafafa;
$color-sombra1-cta: 0 0 0 0 rgba(0, 0, 0, .5);
$color-sombra2-cta: 0 0 0 0 rgba(0, 0, 0, .7);
$color-sombra3-cta: 0 0 0 0 rgba(0, 0, 0, .0);
$color-fondo1-cta:#0074ff;
$color-fondo2-cta:#543fd7;
$colorletras-footer:rgba(0, 116, 255, 0.5);


/*--FUENTES--*/
@font-face {
    font-family: "Axiforma regular";
    src: url(../fuentes/Axiforma/Kastelov\ -\ Axiforma\ Regular.otf);
}
@font-face {
    font-family: "Axiforma bold";
    src: url(../fuentes/Axiforma/Kastelov\ -\ Axiforma\ Bold.otf)
}
@font-face {
    font-family: "Avenir next regular";
    src: url(../fuentes/Avenir/AvenirNextLTPro-Regular.otf)
}
@font-face {
    font-family: "Avenir next bold";
    src: url(../fuentes/Avenir/AvenirNextLTPro-Bold.otf)
}
@font-face {
    font-family: "Avenir next it";
    src: url(../fuentes/Avenir/AvenirNextLTPro-It.otf)
}


