.hero {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    align-content: space-around;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "logo-hero imagen-combo-hero"
    "h1 imagen-combo-hero"
    "hero-ul imagen-combo-hero"
    "cta-hero-div imagen-combo-hero"
    "login-class imagen-combo-hero";

    p{
        font-size: 20px;
        font-family: "Avenir next regular";
        color: black;
        text-align: left; 
        padding: 5px 25px;
        margin: 0 10px;
        width: 75%;
    }
}

.logo-hero{
    padding: 25px 25px;
    margin: 5px 10px 35px 10px;
    grid-area: logo-hero;
}

.hero-carousel{
    grid-area: imagen-combo-hero;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

h1{
    font-size: 50px;
    font-family:"Axiforma bold";
    color: black;
    text-align: left;
    padding: 25px 25px;
    margin: 35px 10px;
    width: 75%;
    grid-area: h1;  
}

.cta-hero-div{
    justify-content: left;
    padding: 35px 25px 10px 25px;
    margin: 65px 10px 0px 10px;
}

.cta-hero{
    background: linear-gradient(102deg, #0074ff 40%, #543fd7 60%);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 5rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: 25px;
    font-weight: 900;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.login-class{
    color: grey;
    display: inline-block;
    padding: 1rem 5rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Avenir next regular";
    grid-area: login-class;
}

#como-funciona{
    display: flex;
    flex-wrap: wrap;
    background-color:#fafafa;
    padding: 90px 0px 90px 0px
}

.como-funciona-class{
    table{
        tr{
            th{
                font-size: 40px;
                font-family:"Axiforma bold";
                color: black;
                text-align: left;
                padding: 25px 25px;
                margin: 35px 10px;
                line-height: 45px
            }
            td{
                font-size: 20px;
                font-family: "Axiforma regular";
                color: black;
                text-align: left; 
                padding: 15px 25px;
                margin: 35px 10px;
            }
        }
    }
}

.como-se-vera{
    padding: 90px 0px 90px 0px
}

.h2-index{
    font-size: 80px;
    font-family: "Avenir next bold";
    color: black;
    text-align: center;
    margin: 55px auto 30px auto;
    display: flex;
    justify-content: center
}

.vista-combo{
    display: flex;
    justify-content: center;
    padding: 80px 0px;

    img{
        width: 1100px;
    }
}

.vista-mobile{
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        width: 90%;
        height: 800px;
        background-color:#fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        font-size: 80px;
        font-family: "Avenir next bold";
        color: black;
        text-align: left;
        line-height: 80px;
        margin-left: 50px;
        width: 60%;
    }
    img{
        max-width: 100%;
        background-color: #fafafa;
        margin-right: 50px;
    }
}

.prueba-gret{
    padding: 90px 0px 90px 0px;
    display: flex;
}

.prueba-gret-div{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.prueba-tit{
    font-size: 36px;
    font-family: "Axiforma bold";
    color: black;
    text-align: left;
    padding: 50px 0px 0px 25px;
    margin: 0px 10px 0px 10px;
    line-height: 45px;
    width: 90%;
}

.prueba-cta-div{
    justify-content: left;
    padding: 50px 0px 0px 25px;
    margin: 5px 10px 0px 10px;
}

.prueba-cta{
    background: linear-gradient(102deg, #0074ff 40%, #543fd7 60%);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 5rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: 25px;
    font-weight: 900;
}
    
    @keyframes pulse{
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.prueba-social{
    padding: 60px 0px 60px 0px;
}

.h3-index{
    font-size: 80px;
    font-family: "Avenir next bold";
    color: black;
    text-align: center;
    margin: 55px auto 30px auto;
    display: flex;
    justify-content: center;
}

.testimonios{
    margin: 40px auto 150px auto;
    width: 70%;
    height: 50px;

    tr{
        td{
            font-size: 20px;
            font-family: "Avenir next regular";
            color: black;
            text-align: center;
            padding: 120px 35px 20px 35px;
            margin: 0px auto 0px auto;
        }
        th{
            font-size: 20px;
            font-family: "Avenir next bold";
            color: black;
            text-align: center;
            padding: 0px 35px 0px 35px;
            margin: 0px auto 0px auto;
        }

    }
}

.prueba-social-div1{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    width: auto;

    img{
        width: 240px;
        padding: 0px 25px;
    }
}

.prueba-social-div2{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    width: auto;

    img{
        width: 240px;
        padding: 0px 25px;
    }
}

.prueba-social-div3{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    width: auto;

    img{
        width: 170px;
        padding: 0px 25px;
    }
}
